body {
    /* background-color: skyblue; */
}

.uniform-image {
    width: 100%;      /* largeur pleine de la carte */
    height: 200px;    /* hauteur fixe identique pour toutes */
    object-fit: cover; /* recadrage automatique en conservant les proportions */
}
